
.App {
  position: fixed;
  /* left: 50%; */
  /* top: 2%; */
  width:100vw;
  height: 100vh;
  /* margin-left: 0.325rem; */
  /* margin-top: 2rem; */
  font-family: 	Microsoft YaHei;
  border: .3125rem solid black;
  border-radius: 0.625rem;
  padding: 8px 32px;
  background: white;
  font-weight: 900;
  color: black;
  letter-spacing: .0313rem;
  line-height: 1.1875rem;
}


.envelope{
  width: 100vw;
  height: 18.75rem;
  border: .1875rem solid pink;
  position: fixed;
  /* left: 35%; */
  transform: translate(-50%, 0);
  bottom: 30%;
  border-radius: .625rem;
  box-shadow: .25rem .25rem .125rem #888888;
  background-color: white;
  font-weight: 900;
}
.triangle-down{
  width: 0;
  height: 0;
  border-left: 12.75rem solid transparent;
  border-right: 13.625rem solid transparent;
  border-top: 9rem solid pink;
  border-radius: .9375rem;
  position: absolute;
  left: -0.3125rem;
  top: -0.0625rem;
}
.triangle-up{
  width: 0;
  height: 0;
  border-left: 12.625rem solid transparent;
  border-right: 13.875rem solid transparent;
  border-bottom: 9.375rem solid pink;
  border-radius: .9375rem;
  position: absolute;
  bottom: -0.0625rem;
  left: -0.25rem;
}

@keyframes pound {
  to { transform: scale(1.4); }
}

.heart{
  width: 2.5rem;
  height: 2.5rem;
  z-index: 999;
  position: absolute;
  left: 11.0625rem;
  top: 8.125rem;
  cursor: pointer;
  animation: pound .25s infinite alternate;
}




.text{
  position: absolute;
  top: -6.25rem;
  left: 6.25rem;
  color: blue;
  font-size: 1.5rem;
}

.date{
  /* position: absolute;
  right: 1.5625rem; */
  font-size: .5rem;
  color: blue;
}
.date-text{
  font-size: 1.5rem;
  color:deeppink;
}

